[Desktop Entry]
Name=Read Flow
Comment=Manage Documents Accross Multiple Machines
Type=Application
Icon=com.github.read-flow.read-flow
Exec=read-flow %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
