[Desktop Entry]
Name=Read Flow
Comment=Manage Documents Accross Multiple Machines
Type=Application
Icon=io.github.read-flow
Exec=read-flow %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
